/* Channel list */

.buttonGroup .icon
{
    font-family:'SmartNewsFont';
    text-shadow: none;
    font-size:20px;
    line-height: 30px;
}
.buttonGroup .iconNone{ font-size: 14px;}

.channelItemList
{
    list-style-type: none;
    display:block;
    margin:20px 20px 0px 20px;
    display:inline-block;
    width:280px;
}


.buttonGroup
{
    margin:0px;
    padding:0px;


}

.channelItemList li
{
    overflow: hidden;
    white-space:nowrap;
    background: #F00; /* Old browsers */
    background-image: -webkit-linear-gradient(bottom, #cbdbb4 48%, #000 51%,#cbdbb4 51%);

}



.channelItem.left{ float:left }
.channelItem.right, .channelItem .right{ float:right }

.channelItem,
.channelItem.disabled,
.buttonGroup span
{

    margin:4px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width:190px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    border: solid 1px #909a81;
    box-shadow: 0px 2px 2px 2px #deeace, 0px -2px 2px 2px #9fae88;


    padding-left:10px;
    padding-right:10px;
    color:#3f4336;
    text-align: left;
    font-size:16px;
    font-weight: 200;
    line-height: 30px;
    height:30px;
    vertical-align: top;
    min-width:30px;

    margin-right: 2px;
    margin-left: 2px;

}

.channelItem.icon
{
    text-align: center;
    text-shadow: none;
}

.channelItem.off
{
    background-color: #c9d6b8;
}

.channelItemList
{
    margin-top: 50px;
    margin-left: 20px;
    padding: 0px;
}
.channelItemList li > div
{
    float: left;

}

.buttonGroup span
{
    display:inline-block;
    border-radius: 0px;
    font-size:20px;
    font-weight: 400;
    text-align: center;
}

.channelItemList li
{
    margin-bottom: 8px;
}




/*left*/
.buttonGroup span:nth-of-type(1)
{
    border-radius: 15px 0 0 15px;
    border-right: 0px;
    margin-right:-10px;

}
/*right*/
.buttonGroup span:nth-last-of-type(1)
{
    border-radius: 0 15px 15px 0;
    border-left: 0px;
    margin-left:-10px;

}

.buttonGroup span.selected
{
    box-shadow:
        0px 1px 0 0px #909a81,
        0px -1px 0 0px #909a81,
        inset 0px 0px 10px rgba(0,0,0,.5),
        0px 2px 0px 2px #deeace, 0px -2px 0px 2px #9fae88;
    background-color: #b2b2b2;


}
